* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-y: hidden;
    background-color: #212121;
}

@font-face {
    font-family: simple;
    src: url('../fonts/simple.ttf');
}

@font-face {
    font-family: nooa;
    src: url('../fonts/nooa.ttf');
}

@font-face {
    font-family: land;
    src: url('../fonts/landscape.ttf');
}

@font-face {
    font-family: fox;
    src: url('../fonts/fox_cat.ttf');
}

::-moz-selection {
    /* Code for Firefox */
    color: #212121;
    background: #aadc39;
}

::selection {
    color: #212121;
    background: #aadc39;
}

html,
body {
    height: 100%;
    widows: 100%;
    overflow-x: hidden;
}

#mypic {
    border-radius: 50%;
    height: 50%;
    width: 40%;
    border: 0px;
    box-shadow: 1px 5px 10px 1px rgba(24, 105, 165, 0.3);
}

#about-me {
    margin-top: 50%;
}

.about-me-table {
    padding-left: 15px;
}

.fa {
    color: white ! important;
}

#left-wing {
    float: left;
    width: 50%;
    height: 100%;
    /*background-color: #455A64;*/
    padding-top: 150px;
    background-color: #189aa5;
    color: aliceblue;
    font-size: 32px;
}

#right-wing {
    float: right;
    width: 50%;
    background-color: #212121;
    height: 100%;
    color: whitesmoke;
    padding-top: 150px;
    font-family: simple;
}

#post-1 {
    padding-top: 92000px
}

.desc-title {
    font-size: 50px;
    font-family: nooa;
    padding-bottom: 40px;
    margin-top: 120px;
}

.desc-data {
    font-size: 35px;
    font-family: fox;
    display: inline-block;
}

.container {
    float: center;
    display: inline-block;
    position: static margin-right: 100px;
}

.mm {
    text-align: right;
}

.chart {
    position: relative;
    display: inline-table;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    right: 50px;
}

.chart canvas {
    position: relative;
    top: 0;
    left: 0px;
}

#down,
#up {
    visibility: hidden;
}

@media only screen and (max-width:1080px) {
    .mm {
        text-align: center;
    }
    .container {
        float: center;
    }
    .chart {
        position: relative;
        display: grid;
        padding: 50px;
        padding-left: 40%;
        float: center;
    }
    .chart canvas {
        position: relative;
        top: 0;
        left: 0;
    }
    body {
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: #212121;
    }
    #mypic {
        height: 40%;
        width: 30%;
    }
    #down {
        visibility: visible;
        margin-top: 10%;
    }
    #up {
        visibility: visible;
        margin-bottom: 10%;
    }
    #left-wing {
        position: static;
        float: none;
        width: 100%;
        height: 100%;
        background-color: #189aa5;
        padding-top: 70px;
        padding-bottom: 500px;
        color: aliceblue;
    }
    #right-wing {
        position: relative;
        float: none;
        width: 100%;
        background-color: #212121;
        height: 100%;
        color: whitesmoke;
        padding-top: 60px;
    }
}